.top {
    
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;


}
.nav{
    position:relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}
.nav ul{

    position:absolute;
    display: flex;align-items: center;
    justify-content: center;
}
.nav ul li{
color:smokewhite;
font-weight: 200;
left:200px;
margin:20px;
width:60%;
display: inline-block;



}



